USE [master]
GO
/****** Object:  Database [PortalUpskill_DB]    Script Date: 11/06/2026 16:04:42 ******/
CREATE DATABASE [PortalUpskill_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortalUpskill_DB', FILENAME = N'D:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\PortalUpskill_DB_6b08e7553625434b9d3f888e5ffbb7a7.mdf' , SIZE = 12288KB , MAXSIZE = 10485760KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PortalUpskill_DB_log', FILENAME = N'D:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\PortalUpskill_DB_76fbcc30d87f4b58b55166a7a3e3b744.ldf' , SIZE = 21440KB , MAXSIZE = 10485760KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortalUpskill_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortalUpskill_DB]
GO
/****** Object:  User [UMD]    Script Date: 11/06/2026 16:04:44 ******/
CREATE USER [UMD] FOR LOGIN [UMD] WITH DEFAULT_SCHEMA=[UMD]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [UMD]
GO
ALTER ROLE [db_datareader] ADD MEMBER [UMD]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UMD]
GO
/****** Object:  Schema [UMD]    Script Date: 11/06/2026 16:04:44 ******/
CREATE SCHEMA [UMD]
GO
/****** Object:  Table [dbo].[AnoLetivo]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnoLetivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ANOLETIVO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sumario] [varchar](2000) NULL,
	[DuracaoHoras] [decimal](6, 2) NULL,
	[HoraInicio] [datetime] NULL,
	[HoraFim] [datetime] NULL,
	[SalaId] [int] NULL,
	[TurmaId] [int] NULL,
	[FormadorId] [int] NULL,
	[ModuloId] [int] NULL,
 CONSTRAINT [PK_AULA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvaliacaoFinal]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvaliacaoFinal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormandoId] [int] NULL,
	[CursoId] [int] NULL,
	[NotaFinal] [decimal](6, 2) NULL,
	[Validou] [bit] NULL,
 CONSTRAINT [PK_AVALIACAOFINAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvaliacaoModular]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvaliacaoModular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormandoId] [int] NULL,
	[NotaFinal] [decimal](6, 2) NULL,
	[Comentarios] [varchar](max) NULL,
	[ModuloId] [int] NULL,
	[Validou] [bit] NULL,
	[FormadorId] [int] NULL,
	[CursoId] [int] NULL,
 CONSTRAINT [PK_AVALIACAOMODULAR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidatura]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PessoaId] [int] NOT NULL,
	[PrimeiraOpcaoId] [int] NOT NULL,
	[SegundaOpcaoId] [int] NULL,
	[Observacoes] [nvarchar](500) NULL,
	[EstadoId] [int] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[Foto] [nvarchar](500) NULL,
	[CV] [nvarchar](500) NULL,
	[CertificadoHabilitacoes] [nvarchar](500) NULL,
	[CCFrente] [nvarchar](500) NULL,
	[CCVerso] [nvarchar](500) NULL,
	[SituacaoProfissional] [nvarchar](100) NULL,
	[TermosAceites] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNAEF]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNAEF](
	[AreaFormacao] [varchar](300) NULL,
	[CodigoCNAEF] [varchar](300) NOT NULL,
 CONSTRAINT [PK_CNAEF] PRIMARY KEY CLUSTERED 
(
	[CodigoCNAEF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[DuracaoHoras] [decimal](6, 2) NULL,
	[Objetivos] [varchar](max) NULL,
	[CandidaturasAbertas] [bit] NOT NULL,
	[DataInicioCandidatura] [date] NULL,
	[DataFimCandidatura] [date] NULL,
 CONSTRAINT [PK_CURSO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoCoordenador]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoCoordenador](
	[CursoId] [int] NULL,
	[PessoalId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoModulo]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoModulo](
	[CursoId] [int] NULL,
	[ModuloId] [int] NULL,
	[Horas] [decimal](6, 2) NULL,
	[Ordem] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCandidatura]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCandidatura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoFormador]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoFormador](
	[PessoaId] [int] NOT NULL,
	[ListaEstadoId] [int] NULL,
	[Data] [date] NULL,
	[Observacoes] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoFormando]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoFormando](
	[PessoaId] [int] NOT NULL,
	[ListaEstadoId] [int] NULL,
	[Data] [date] NULL,
	[Observacoes] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Falta]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Falta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AulaId] [int] NULL,
	[FormandoId] [int] NULL,
	[HoraInicio] [datetime] NULL,
	[HoraFim] [datetime] NULL,
	[Justificada] [bit] NULL,
	[Estado] [varchar](50) NULL,
	[Anexo] [nvarchar](max) NULL,
	[Duracao] [int] NULL,
	[Observacoes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Falta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formador]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formador](
	[PessoaId] [int] NOT NULL,
	[CCP] [bit] NULL,
	[DocenteEnsSuperior] [bit] NULL,
	[EstadoId] [int] NULL,
UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormadorModulo]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormadorModulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormadorId] [int] NULL,
	[ModuloId] [int] NULL,
 CONSTRAINT [PK_FormadorModulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormadorModuloTurma]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormadorModuloTurma](
	[TurmaId] [int] NULL,
	[FormadorModuloId] [int] NULL,
	[Horas] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formando]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formando](
	[PessoaId] [int] NOT NULL,
	[IBAN] [varchar](255) NULL,
	[Bolsa] [bit] NULL,
	[EstadoId] [int] NULL,
UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcoes]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcoes](
	[Nome] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilitacoes]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilitacoes](
	[Codigo] [int] NOT NULL,
	[HabilitacoesLiterarias] [varchar](255) NULL,
 CONSTRAINT [PK_HABILITACOES] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaEstadosFormador]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaEstadosFormador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_LISTAESTADOSFORMADOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaEstadosFormando]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaEstadosFormando](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_LISTAESTADOSFORMANDO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Local]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Local](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalSala]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalSala](
	[LocalId] [int] NULL,
	[SalaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[Horas] [decimal](6, 2) NULL,
	[Objetivos] [varchar](max) NULL,
	[ConteudosProgramaticos] [varchar](max) NULL,
	[SistemaAvaliacao] [varchar](max) NULL,
	[Bibliografia] [varchar](max) NULL,
	[SoftwareHardware] [varchar](300) NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[iso] [varchar](10) NOT NULL,
	[iso3] [varchar](10) NULL,
	[numcode] [varchar](10) NULL,
	[nome] [varchar](255) NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[iso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[DataNascimento] [date] NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](max) NULL,
	[Sexo] [varchar](75) NULL,
	[NIF] [varchar](75) NULL,
	[CC] [varchar](50) NULL,
	[ContactoTelemovel] [varchar](50) NULL,
	[ContactoTelefone] [varchar](50) NULL,
	[Morada] [varchar](500) NULL,
	[CP] [varchar](20) NULL,
	[CodigoCNAEF] [int] NULL,
	[HabilitacoesLiterarias] [varchar](100) NULL,
	[Nacionalidade] [varchar](75) NULL,
	[Foto] [nvarchar](max) NULL,
	[PerfilId] [int] NULL,
	[CV] [nvarchar](max) NULL,
 CONSTRAINT [PK_PESSOA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoal]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoal](
	[PessoaId] [int] NOT NULL,
	[Funcao] [varchar](100) NULL,
UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[LocalId] [int] NULL,
 CONSTRAINT [PK_SALA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turma]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](200) NULL,
	[DataInicioCurso] [date] NULL,
	[DataFimCurso] [date] NULL,
	[CursoId] [int] NULL,
	[HorarioSincronoInicio] [datetime] NULL,
	[HorarioSincronoFim] [datetime] NULL,
	[HorarioAssincronoInicio] [datetime] NULL,
	[HorarioAssincronoFim] [datetime] NULL,
	[TempoLectivo] [int] NULL,
	[AnoLetivoId] [int] NULL,
 CONSTRAINT [PK_TURMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurmaFormando]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurmaFormando](
	[FormandoId] [int] NULL,
	[TurmaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [UMD].[AvaliacaoCandidatura]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UMD].[AvaliacaoCandidatura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidaturaId] [int] NOT NULL,
	[NotaPsicometrica] [decimal](5, 2) NULL,
	[NotaIngles] [varchar](2) NULL,
	[PassouEntrevista] [bit] NULL,
	[Observacoes] [nvarchar](max) NULL,
	[DataAvaliacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [UMD].[InqueritoFormador]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UMD].[InqueritoFormador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InqueritoSubmissaoId] [int] NOT NULL,
	[FormadorId] [int] NOT NULL,
	[Avaliacao] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [UMD].[InqueritoFormandoSubmetido]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UMD].[InqueritoFormandoSubmetido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormandoId] [int] NOT NULL,
	[TurmaId] [int] NOT NULL,
	[DataSubmissao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UMD].[InqueritoModulo]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UMD].[InqueritoModulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InqueritoSubmissaoId] [int] NOT NULL,
	[ModuloId] [int] NOT NULL,
	[Avaliacao] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [UMD].[InqueritoSubmissao]    Script Date: 11/06/2026 16:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UMD].[InqueritoSubmissao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TurmaId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[DataSubmissao] [datetime] NOT NULL,
	[AvaliacaoGeral] [int] NULL,
	[ComentarioGeral] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_Pessoa_CC_NotNull]    Script Date: 11/06/2026 16:04:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Pessoa_CC_NotNull] ON [dbo].[Pessoa]
(
	[CC] ASC
)
WHERE ([CC] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_Pessoa_Email_NotNull]    Script Date: 11/06/2026 16:04:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Pessoa_Email_NotNull] ON [dbo].[Pessoa]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_Pessoa_NIF_NotNull]    Script Date: 11/06/2026 16:04:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Pessoa_NIF_NotNull] ON [dbo].[Pessoa]
(
	[NIF] ASC
)
WHERE ([NIF] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Candidatura] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[Candidatura] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Candidatura] ADD  DEFAULT ((0)) FOR [TermosAceites]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT ((0)) FOR [CandidaturasAbertas]
GO
ALTER TABLE [UMD].[AvaliacaoCandidatura] ADD  DEFAULT (getdate()) FOR [DataAvaliacao]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [Aula_fk0] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Sala] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [Aula_fk0]
GO
ALTER TABLE [dbo].[Aula]  WITH NOCHECK ADD  CONSTRAINT [Aula_fk1] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turma] ([Id])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Aula] NOCHECK CONSTRAINT [Aula_fk1]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [FK_Aula_Formador] FOREIGN KEY([FormadorId])
REFERENCES [dbo].[Formador] ([PessoaId])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [FK_Aula_Formador]
GO
ALTER TABLE [dbo].[Aula]  WITH NOCHECK ADD  CONSTRAINT [FK_Aula_Modulo] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[Aula] NOCHECK CONSTRAINT [FK_Aula_Modulo]
GO
ALTER TABLE [dbo].[AvaliacaoFinal]  WITH CHECK ADD  CONSTRAINT [AvaliacaoFinal_fk0] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoFinal] CHECK CONSTRAINT [AvaliacaoFinal_fk0]
GO
ALTER TABLE [dbo].[AvaliacaoFinal]  WITH NOCHECK ADD  CONSTRAINT [AvaliacaoFinal_fk1] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoFinal] NOCHECK CONSTRAINT [AvaliacaoFinal_fk1]
GO
ALTER TABLE [dbo].[AvaliacaoModular]  WITH CHECK ADD  CONSTRAINT [AvaliacaoModular_fk0] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoModular] CHECK CONSTRAINT [AvaliacaoModular_fk0]
GO
ALTER TABLE [dbo].[AvaliacaoModular]  WITH CHECK ADD  CONSTRAINT [AvaliacaoModular_fk1] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoModular] CHECK CONSTRAINT [AvaliacaoModular_fk1]
GO
ALTER TABLE [dbo].[AvaliacaoModular]  WITH NOCHECK ADD  CONSTRAINT [AvaliacaoModular_fk3] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoModular] NOCHECK CONSTRAINT [AvaliacaoModular_fk3]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Curso1] FOREIGN KEY([PrimeiraOpcaoId])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Curso1]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Curso2] FOREIGN KEY([SegundaOpcaoId])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Curso2]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Estado] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[EstadoCandidatura] ([Id])
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Estado]
GO
ALTER TABLE [dbo].[Candidatura]  WITH CHECK ADD  CONSTRAINT [FK_Candidatura_Pessoa] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Candidatura] CHECK CONSTRAINT [FK_Candidatura_Pessoa]
GO
ALTER TABLE [dbo].[CursoCoordenador]  WITH CHECK ADD  CONSTRAINT [CursoCoordenador_fk0] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoCoordenador] CHECK CONSTRAINT [CursoCoordenador_fk0]
GO
ALTER TABLE [dbo].[CursoCoordenador]  WITH NOCHECK ADD  CONSTRAINT [CursoCoordenador_fk1] FOREIGN KEY([PessoalId])
REFERENCES [dbo].[Pessoal] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoCoordenador] CHECK CONSTRAINT [CursoCoordenador_fk1]
GO
ALTER TABLE [dbo].[CursoModulo]  WITH NOCHECK ADD  CONSTRAINT [CursoModulo_fk0] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoModulo] CHECK CONSTRAINT [CursoModulo_fk0]
GO
ALTER TABLE [dbo].[CursoModulo]  WITH NOCHECK ADD  CONSTRAINT [CursoModulo_fk1] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoModulo] NOCHECK CONSTRAINT [CursoModulo_fk1]
GO
ALTER TABLE [dbo].[EstadoFormador]  WITH CHECK ADD  CONSTRAINT [EstadoFormador_fk0] FOREIGN KEY([ListaEstadoId])
REFERENCES [dbo].[ListaEstadosFormador] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormador] CHECK CONSTRAINT [EstadoFormador_fk0]
GO
ALTER TABLE [dbo].[EstadoFormador]  WITH CHECK ADD  CONSTRAINT [FK_EstadoFormador_Formador] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Formador] ([PessoaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormador] CHECK CONSTRAINT [FK_EstadoFormador_Formador]
GO
ALTER TABLE [dbo].[EstadoFormando]  WITH CHECK ADD  CONSTRAINT [EstadoFormando_fk0] FOREIGN KEY([ListaEstadoId])
REFERENCES [dbo].[ListaEstadosFormando] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormando] CHECK CONSTRAINT [EstadoFormando_fk0]
GO
ALTER TABLE [dbo].[EstadoFormando]  WITH CHECK ADD  CONSTRAINT [FK_EstadoFormando_Formando] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormando] CHECK CONSTRAINT [FK_EstadoFormando_Formando]
GO
ALTER TABLE [dbo].[Falta]  WITH CHECK ADD  CONSTRAINT [Falta_fk0] FOREIGN KEY([AulaId])
REFERENCES [dbo].[Aula] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Falta] CHECK CONSTRAINT [Falta_fk0]
GO
ALTER TABLE [dbo].[Falta]  WITH CHECK ADD  CONSTRAINT [Falta_fk1] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Falta] CHECK CONSTRAINT [Falta_fk1]
GO
ALTER TABLE [dbo].[Formador]  WITH CHECK ADD  CONSTRAINT [Formador_fk0] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Formador] CHECK CONSTRAINT [Formador_fk0]
GO
ALTER TABLE [dbo].[FormadorModulo]  WITH CHECK ADD  CONSTRAINT [FK_FormadorModulo_Formador] FOREIGN KEY([FormadorId])
REFERENCES [dbo].[Formador] ([PessoaId])
GO
ALTER TABLE [dbo].[FormadorModulo] CHECK CONSTRAINT [FK_FormadorModulo_Formador]
GO
ALTER TABLE [dbo].[FormadorModulo]  WITH NOCHECK ADD  CONSTRAINT [FK_FormadorModulo_Modulo] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[FormadorModulo] NOCHECK CONSTRAINT [FK_FormadorModulo_Modulo]
GO
ALTER TABLE [dbo].[FormadorModuloTurma]  WITH NOCHECK ADD  CONSTRAINT [FK_FormadorModuloTurma_FormadorModulo] FOREIGN KEY([FormadorModuloId])
REFERENCES [dbo].[FormadorModulo] ([Id])
GO
ALTER TABLE [dbo].[FormadorModuloTurma] NOCHECK CONSTRAINT [FK_FormadorModuloTurma_FormadorModulo]
GO
ALTER TABLE [dbo].[FormadorModuloTurma]  WITH NOCHECK ADD  CONSTRAINT [FK_FormadorModuloTurma_Turma] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turma] ([Id])
GO
ALTER TABLE [dbo].[FormadorModuloTurma] NOCHECK CONSTRAINT [FK_FormadorModuloTurma_Turma]
GO
ALTER TABLE [dbo].[Formando]  WITH CHECK ADD  CONSTRAINT [Formando_fk0] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Formando] CHECK CONSTRAINT [Formando_fk0]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [Pessoa_fk0] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfil] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [Pessoa_fk0]
GO
ALTER TABLE [dbo].[Turma]  WITH CHECK ADD  CONSTRAINT [FK_Turma_AnoLetivo] FOREIGN KEY([AnoLetivoId])
REFERENCES [dbo].[AnoLetivo] ([Id])
GO
ALTER TABLE [dbo].[Turma] CHECK CONSTRAINT [FK_Turma_AnoLetivo]
GO
ALTER TABLE [dbo].[Turma]  WITH NOCHECK ADD  CONSTRAINT [FK_TurmaCurso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Turma] NOCHECK CONSTRAINT [FK_TurmaCurso]
GO
ALTER TABLE [dbo].[TurmaFormando]  WITH CHECK ADD  CONSTRAINT [TurmaFormando_fk0] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TurmaFormando] CHECK CONSTRAINT [TurmaFormando_fk0]
GO
ALTER TABLE [dbo].[TurmaFormando]  WITH NOCHECK ADD  CONSTRAINT [TurmaFormando_fk1] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turma] ([Id])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[TurmaFormando] NOCHECK CONSTRAINT [TurmaFormando_fk1]
GO
ALTER TABLE [UMD].[AvaliacaoCandidatura]  WITH CHECK ADD FOREIGN KEY([CandidaturaId])
REFERENCES [dbo].[Candidatura] ([Id])
GO
ALTER TABLE [UMD].[AvaliacaoCandidatura]  WITH CHECK ADD FOREIGN KEY([CandidaturaId])
REFERENCES [dbo].[Candidatura] ([Id])
GO
ALTER TABLE [UMD].[AvaliacaoCandidatura]  WITH CHECK ADD FOREIGN KEY([CandidaturaId])
REFERENCES [dbo].[Candidatura] ([Id])
GO
ALTER TABLE [UMD].[InqueritoFormador]  WITH CHECK ADD FOREIGN KEY([InqueritoSubmissaoId])
REFERENCES [UMD].[InqueritoSubmissao] ([Id])
GO
ALTER TABLE [UMD].[InqueritoFormador]  WITH CHECK ADD FOREIGN KEY([InqueritoSubmissaoId])
REFERENCES [UMD].[InqueritoSubmissao] ([Id])
GO
ALTER TABLE [UMD].[InqueritoFormador]  WITH CHECK ADD FOREIGN KEY([InqueritoSubmissaoId])
REFERENCES [UMD].[InqueritoSubmissao] ([Id])
GO
ALTER TABLE [UMD].[InqueritoModulo]  WITH CHECK ADD FOREIGN KEY([InqueritoSubmissaoId])
REFERENCES [UMD].[InqueritoSubmissao] ([Id])
GO
ALTER TABLE [UMD].[InqueritoModulo]  WITH CHECK ADD FOREIGN KEY([InqueritoSubmissaoId])
REFERENCES [UMD].[InqueritoSubmissao] ([Id])
GO
ALTER TABLE [UMD].[InqueritoModulo]  WITH CHECK ADD FOREIGN KEY([InqueritoSubmissaoId])
REFERENCES [UMD].[InqueritoSubmissao] ([Id])
GO
USE [master]
GO
