USE [master]
GO
/****** Object:  Database [PortalUpskill_DB]    Script Date: 20/05/2026 09:48:07 ******/
CREATE DATABASE [PortalUpskill_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortalUpskill_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PortalUpskill_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PortalUpskill_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PortalUpskill_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortalUpskill_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortalUpskill_DB]
GO
/****** Object:  Table [dbo].[AnoLetivo]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnoLetivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ANOLETIVO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sumario] [varchar](2000) NULL,
	[DuracaoHoras] [decimal](6, 2) NULL,
	[HoraInicio] [datetime] NULL,
	[HoraFim] [datetime] NULL,
	[SalaId] [int] NULL,
	[TurmaId] [int] NULL,
	[FormadorId] [int] NULL,
	[ModuloId] [int] NULL,
 CONSTRAINT [PK_AULA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvaliacaoFinal]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvaliacaoFinal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormandoId] [int] NULL,
	[CursoId] [int] NULL,
	[NotaFinal] [decimal](6, 2) NULL,
	[Validou] [bit] NULL,
 CONSTRAINT [PK_AVALIACAOFINAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvaliacaoModular]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvaliacaoModular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormandoId] [int] NULL,
	[NotaFinal] [decimal](6, 2) NULL,
	[Comentarios] [varchar](max) NULL,
	[ModuloId] [int] NULL,
	[Validou] [bit] NULL,
	[FormadorId] [int] NULL,
	[CursoId] [int] NULL,
 CONSTRAINT [PK_AVALIACAOMODULAR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNAEF]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNAEF](
	[AreaFormacao] [varchar](300) NULL,
	[CodigoCNAEF] [varchar](300) NOT NULL,
 CONSTRAINT [PK_CNAEF] PRIMARY KEY CLUSTERED 
(
	[CodigoCNAEF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[DuracaoHoras] [decimal](6, 2) NULL,
	[Objetivos] [varchar](max) NULL,
 CONSTRAINT [PK_CURSO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoCoordenador]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoCoordenador](
	[CursoId] [int] NULL,
	[PessoalId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoModulo]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoModulo](
	[CursoId] [int] NULL,
	[ModuloId] [int] NULL,
	[Horas] [decimal](6, 2) NULL,
	[Ordem] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoFormador]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoFormador](
	[PessoaId] [int] NOT NULL,
	[ListaEstadoId] [int] NULL,
	[Data] [date] NULL,
	[Observacoes] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoFormando]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoFormando](
	[PessoaId] [int] NOT NULL,
	[ListaEstadoId] [int] NULL,
	[Data] [date] NULL,
	[Observacoes] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Falta]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Falta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AulaId] [int] NULL,
	[FormandoId] [int] NULL,
	[HoraInicio] [datetime] NULL,
	[HoraFim] [datetime] NULL,
	[Justificada] [bit] NULL,
	[Anexo] [nvarchar](max) NULL,
	[Duracao] [int] NULL,
 CONSTRAINT [PK_Falta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formador]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formador](
	[PessoaId] [int] NOT NULL,
	[CCP] [bit] NULL,
	[DocenteEnsSuperior] [bit] NULL,
	[EstadoId] [int] NULL,
UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormadorModulo]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormadorModulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormadorId] [int] NULL,
	[ModuloId] [int] NULL,
 CONSTRAINT [PK_FormadorModulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormadorModuloTurma]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormadorModuloTurma](
	[TurmaId] [int] NULL,
	[FormadorModuloId] [int] NULL,
	[Horas] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formando]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formando](
	[PessoaId] [int] NOT NULL,
	[IBAN] [varchar](255) NULL,
	[Bolsa] [bit] NULL,
	[EstadoId] [int] NULL,
UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcoes]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcoes](
	[Nome] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilitacoes]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilitacoes](
	[Codigo] [int] NOT NULL,
	[HabilitacoesLiterarias] [varchar](255) NULL,
 CONSTRAINT [PK_HABILITACOES] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaEstadosFormador]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaEstadosFormador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_LISTAESTADOSFORMADOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaEstadosFormando]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaEstadosFormando](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_LISTAESTADOSFORMANDO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Local]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Local](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalSala]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalSala](
	[LocalId] [int] NULL,
	[SalaId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[Horas] [decimal](6, 2) NULL,
	[Objetivos] [varchar](max) NULL,
	[ConteudosProgramaticos] [varchar](max) NULL,
	[SistemaAvaliacao] [varchar](max) NULL,
	[Bibliografia] [varchar](max) NULL,
	[SoftwareHardware] [varchar](300) NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[iso] [varchar](10) NOT NULL,
	[iso3] [varchar](10) NULL,
	[numcode] [varchar](10) NULL,
	[nome] [varchar](255) NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[iso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[DataNascimento] [date] NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](max) NULL,
	[Sexo] [varchar](75) NULL,
	[NIF] [varchar](75) NULL,
	[CC] [varchar](50) NULL,
	[ContactoTelemovel] [varchar](50) NULL,
	[ContactoTelefone] [varchar](50) NULL,
	[Morada] [varchar](500) NULL,
	[CP] [varchar](20) NULL,
	[CodigoCNAEF] [int] NULL,
	[HabilitacoesLiterarias] [varchar](100) NULL,
	[Nacionalidade] [varchar](75) NULL,
	[Foto] [nvarchar](max) NULL,
	[PerfilId] [int] NULL,
	[CV] [nvarchar](max) NULL,
 CONSTRAINT [PK_PESSOA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoal]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoal](
	[PessoaId] [int] NOT NULL,
	[Funcao] [varchar](100) NULL,
UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[LocalId] [int] NULL,
 CONSTRAINT [PK_SALA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turma]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](200) NULL,
	[DataInicioCurso] [date] NULL,
	[DataFimCurso] [date] NULL,
	[CursoId] [int] NULL,
	[HorarioSincronoInicio] [datetime] NULL,
	[HorarioSincronoFim] [datetime] NULL,
	[HorarioAssincronoInicio] [datetime] NULL,
	[HorarioAssincronoFim] [datetime] NULL,
	[TempoLectivo] [int] NULL,
	[AnoLetivoId] [int] NULL,
 CONSTRAINT [PK_TURMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurmaFormando]    Script Date: 20/05/2026 09:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurmaFormando](
	[FormandoId] [int] NULL,
	[TurmaId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnoLetivo] ON 

INSERT [dbo].[AnoLetivo] ([Id], [Nome]) VALUES (1, N'2022/2023')
INSERT [dbo].[AnoLetivo] ([Id], [Nome]) VALUES (2, N'2023/2024')
INSERT [dbo].[AnoLetivo] ([Id], [Nome]) VALUES (3, N'2024/2025')
SET IDENTITY_INSERT [dbo].[AnoLetivo] OFF
GO
SET IDENTITY_INSERT [dbo].[Aula] ON 

INSERT [dbo].[Aula] ([Id], [Sumario], [DuracaoHoras], [HoraInicio], [HoraFim], [SalaId], [TurmaId], [FormadorId], [ModuloId]) VALUES (71, N'Aula de Exemplo', CAST(3.50 AS Decimal(6, 2)), CAST(N'2021-02-01T14:30:00.000' AS DateTime), CAST(N'2021-02-01T18:00:00.000' AS DateTime), NULL, 890, 200, 4)
INSERT [dbo].[Aula] ([Id], [Sumario], [DuracaoHoras], [HoraInicio], [HoraFim], [SalaId], [TurmaId], [FormadorId], [ModuloId]) VALUES (72, N'Introdução a base de fundamentos de programação', CAST(3.50 AS Decimal(6, 2)), CAST(N'2020-02-03T14:30:00.000' AS DateTime), CAST(N'2020-02-03T18:00:00.000' AS DateTime), NULL, 890, 200, 22)
INSERT [dbo].[Aula] ([Id], [Sumario], [DuracaoHoras], [HoraInicio], [HoraFim], [SalaId], [TurmaId], [FormadorId], [ModuloId]) VALUES (74, N'Introdução aos conceitos de Base de Dados', CAST(3.50 AS Decimal(6, 2)), CAST(N'2021-02-02T14:30:00.000' AS DateTime), CAST(N'2021-02-02T18:00:00.000' AS DateTime), NULL, 890, 200, 4)
SET IDENTITY_INSERT [dbo].[Aula] OFF
GO
SET IDENTITY_INSERT [dbo].[AvaliacaoFinal] ON 

INSERT [dbo].[AvaliacaoFinal] ([Id], [FormandoId], [CursoId], [NotaFinal], [Validou]) VALUES (5, 195, 59, CAST(15.80 AS Decimal(6, 2)), NULL)
INSERT [dbo].[AvaliacaoFinal] ([Id], [FormandoId], [CursoId], [NotaFinal], [Validou]) VALUES (6, 196, 59, CAST(11.80 AS Decimal(6, 2)), NULL)
INSERT [dbo].[AvaliacaoFinal] ([Id], [FormandoId], [CursoId], [NotaFinal], [Validou]) VALUES (7, 197, 59, CAST(19.20 AS Decimal(6, 2)), NULL)
SET IDENTITY_INSERT [dbo].[AvaliacaoFinal] OFF
GO
SET IDENTITY_INSERT [dbo].[AvaliacaoModular] ON 

INSERT [dbo].[AvaliacaoModular] ([Id], [FormandoId], [NotaFinal], [Comentarios], [ModuloId], [Validou], [FormadorId], [CursoId]) VALUES (8, 195, CAST(13.00 AS Decimal(6, 2)), NULL, 3, NULL, 200, 59)
INSERT [dbo].[AvaliacaoModular] ([Id], [FormandoId], [NotaFinal], [Comentarios], [ModuloId], [Validou], [FormadorId], [CursoId]) VALUES (9, 196, CAST(16.00 AS Decimal(6, 2)), NULL, 3, NULL, 200, 59)
INSERT [dbo].[AvaliacaoModular] ([Id], [FormandoId], [NotaFinal], [Comentarios], [ModuloId], [Validou], [FormadorId], [CursoId]) VALUES (10, 197, CAST(20.00 AS Decimal(6, 2)), NULL, 3, NULL, 200, 59)
SET IDENTITY_INSERT [dbo].[AvaliacaoModular] OFF
GO
INSERT [dbo].[CNAEF] ([AreaFormacao], [CodigoCNAEF]) VALUES (N'Programas de base', N'10')
INSERT [dbo].[CNAEF] ([AreaFormacao], [CodigoCNAEF]) VALUES (N'Ciências da educação', N'142')
INSERT [dbo].[CNAEF] ([AreaFormacao], [CodigoCNAEF]) VALUES (N'Formação de educadores de infância', N'143')
GO
SET IDENTITY_INSERT [dbo].[Curso] ON 

SET IDENTITY_INSERT [dbo].[Curso] OFF
GO
INSERT [dbo].[CursoCoordenador] ([CursoId], [PessoalId]) VALUES (59, 202)
GO
INSERT [dbo].[CursoModulo] ([CursoId], [ModuloId], [Horas], [Ordem]) VALUES (59, 22, CAST(100.00 AS Decimal(6, 2)), 1)
INSERT [dbo].[CursoModulo] ([CursoId], [ModuloId], [Horas], [Ordem]) VALUES (59, 3, CAST(75.00 AS Decimal(6, 2)), 2)
INSERT [dbo].[CursoModulo] ([CursoId], [ModuloId], [Horas], [Ordem]) VALUES (59, 5, CAST(225.00 AS Decimal(6, 2)), 3)
GO
INSERT [dbo].[EstadoFormador] ([PessoaId], [ListaEstadoId], [Data], [Observacoes]) VALUES (200, 1, CAST(N'2021-04-27' AS Date), N'Inserção')
INSERT [dbo].[EstadoFormador] ([PessoaId], [ListaEstadoId], [Data], [Observacoes]) VALUES (201, 1, CAST(N'2021-04-27' AS Date), N'Inserção')
INSERT [dbo].[EstadoFormador] ([PessoaId], [ListaEstadoId], [Data], [Observacoes]) VALUES (3, 1, CAST(N'2021-04-07' AS Date), N'Alterado')
GO
INSERT [dbo].[EstadoFormando] ([PessoaId], [ListaEstadoId], [Data], [Observacoes]) VALUES (195, 1, CAST(N'2021-04-27' AS Date), N'Inserção')
INSERT [dbo].[EstadoFormando] ([PessoaId], [ListaEstadoId], [Data], [Observacoes]) VALUES (196, 1, CAST(N'2021-04-27' AS Date), N'Inserção')
INSERT [dbo].[EstadoFormando] ([PessoaId], [ListaEstadoId], [Data], [Observacoes]) VALUES (197, 1, CAST(N'2021-04-27' AS Date), N'Inserção')
GO
SET IDENTITY_INSERT [dbo].[Falta] ON 

INSERT [dbo].[Falta] ([Id], [AulaId], [FormandoId], [HoraInicio], [HoraFim], [Justificada], [Anexo], [Duracao]) VALUES (34, 72, 199, CAST(N'2020-02-03T14:30:00.000' AS DateTime), CAST(N'2020-02-03T18:00:00.000' AS DateTime), 0, NULL, 210)
INSERT [dbo].[Falta] ([Id], [AulaId], [FormandoId], [HoraInicio], [HoraFim], [Justificada], [Anexo], [Duracao]) VALUES (35, 72, 196, CAST(N'2020-02-03T14:30:00.000' AS DateTime), CAST(N'2020-02-03T18:00:00.000' AS DateTime), 0, NULL, 210)
INSERT [dbo].[Falta] ([Id], [AulaId], [FormandoId], [HoraInicio], [HoraFim], [Justificada], [Anexo], [Duracao]) VALUES (36, 72, 195, CAST(N'2020-02-03T14:30:00.000' AS DateTime), CAST(N'2020-02-03T18:00:00.000' AS DateTime), 0, NULL, 210)
SET IDENTITY_INSERT [dbo].[Falta] OFF
GO
INSERT [dbo].[Formador] ([PessoaId], [CCP], [DocenteEnsSuperior], [EstadoId]) VALUES (200, 1, 1, 1)
INSERT [dbo].[Formador] ([PessoaId], [CCP], [DocenteEnsSuperior], [EstadoId]) VALUES (202, 1, 1, 1)
INSERT [dbo].[Formador] ([PessoaId], [CCP], [DocenteEnsSuperior], [EstadoId]) VALUES (3, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[FormadorModulo] ON 

INSERT [dbo].[FormadorModulo] ([Id], [FormadorId], [ModuloId]) VALUES (43, 200, 3)
INSERT [dbo].[FormadorModulo] ([Id], [FormadorId], [ModuloId]) VALUES (44, 200, 4)
INSERT [dbo].[FormadorModulo] ([Id], [FormadorId], [ModuloId]) VALUES (45, 200, 5)
SET IDENTITY_INSERT [dbo].[FormadorModulo] OFF
GO
INSERT [dbo].[FormadorModuloTurma] ([TurmaId], [FormadorModuloId], [Horas]) VALUES (890, 50, CAST(77.00 AS Decimal(6, 2)))
INSERT [dbo].[FormadorModuloTurma] ([TurmaId], [FormadorModuloId], [Horas]) VALUES (890, 44, CAST(301.00 AS Decimal(6, 2)))
INSERT [dbo].[FormadorModuloTurma] ([TurmaId], [FormadorModuloId], [Horas]) VALUES (890, 46, CAST(49.00 AS Decimal(6, 2)))
GO
INSERT [dbo].[Formando] ([PessoaId], [IBAN], [Bolsa], [EstadoId]) VALUES (195, N'PT50000788573535801987712', 1, 2)
INSERT [dbo].[Formando] ([PessoaId], [IBAN], [Bolsa], [EstadoId]) VALUES (196, N'PT50000788573535801987712', 1, 2)
INSERT [dbo].[Formando] ([PessoaId], [IBAN], [Bolsa], [EstadoId]) VALUES (197, N'PT50000788573535801987712', 1, 2)
GO
INSERT [dbo].[Funcoes] ([Nome]) VALUES (N'Administrador')
INSERT [dbo].[Funcoes] ([Nome]) VALUES (N'Coordenador')
INSERT [dbo].[Funcoes] ([Nome]) VALUES (N'Secretariado')
GO
INSERT [dbo].[Habilitacoes] ([Codigo], [HabilitacoesLiterarias]) VALUES (1, N'Menos de 4 anos de Escolaridade')
INSERT [dbo].[Habilitacoes] ([Codigo], [HabilitacoesLiterarias]) VALUES (2, N'1º ciclo do Ensino Básico')
INSERT [dbo].[Habilitacoes] ([Codigo], [HabilitacoesLiterarias]) VALUES (3, N'2º ciclo do Ensino Básico')
GO
SET IDENTITY_INSERT [dbo].[ListaEstadosFormador] ON 

INSERT [dbo].[ListaEstadosFormador] ([Id], [Nome]) VALUES (1, N'Ativo')
INSERT [dbo].[ListaEstadosFormador] ([Id], [Nome]) VALUES (2, N'Inativo')
SET IDENTITY_INSERT [dbo].[ListaEstadosFormador] OFF
GO
SET IDENTITY_INSERT [dbo].[ListaEstadosFormando] ON 

INSERT [dbo].[ListaEstadosFormando] ([Id], [Nome]) VALUES (1, N'Inscrito')
INSERT [dbo].[ListaEstadosFormando] ([Id], [Nome]) VALUES (2, N'A frequentar')
INSERT [dbo].[ListaEstadosFormando] ([Id], [Nome]) VALUES (3, N'A frequentar - nova turma')
SET IDENTITY_INSERT [dbo].[ListaEstadosFormando] OFF
GO
SET IDENTITY_INSERT [dbo].[Local] ON 

INSERT [dbo].[Local] ([Id], [Nome]) VALUES (19, N'ISCTE - Lisboa')
INSERT [dbo].[Local] ([Id], [Nome]) VALUES (21, N'213')
INSERT [dbo].[Local] ([Id], [Nome]) VALUES (20, N'Startup Sintra - Rio de Mouro')
SET IDENTITY_INSERT [dbo].[Local] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
INSERT [dbo].[Paises] ([iso], [iso3], [numcode], [nome]) VALUES (N'AD', N'AND', N'20', N'Andorra')
INSERT [dbo].[Paises] ([iso], [iso3], [numcode], [nome]) VALUES (N'AE', N'ARE', N'784', N'Emiratos Árabes Unidos')
INSERT [dbo].[Paises] ([iso], [iso3], [numcode], [nome]) VALUES (N'AF', N'AFG', N'4', N'Afeganistão')
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([Id], [Nome]) VALUES (1, N'Administrador')
INSERT [dbo].[Perfil] ([Id], [Nome]) VALUES (2, N'Coordenador')
INSERT [dbo].[Perfil] ([Id], [Nome]) VALUES (3, N'Formador')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Pessoa] ON 

INSERT [dbo].[Pessoa] ([Id], [Nome], [DataNascimento], [Email], [Password], [Sexo], [NIF], [CC], [ContactoTelemovel], [ContactoTelefone], [Morada], [CP], [CodigoCNAEF], [HabilitacoesLiterarias], [Nacionalidade], [Foto], [PerfilId], [CV]) VALUES (2, N'Coordenador', NULL, N'coor', N'$2a$11$.8HMCvr0XPODi7qSFGA6EufZCwzzJepVMvX5ZIiXxESncNbImAIpS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[Pessoa] ([Id], [Nome], [DataNascimento], [Email], [Password], [Sexo], [NIF], [CC], [ContactoTelemovel], [ContactoTelefone], [Morada], [CP], [CodigoCNAEF], [HabilitacoesLiterarias], [Nacionalidade], [Foto], [PerfilId], [CV]) VALUES (3, N'Formador', NULL, N'formador', N'$2a$11$.8HMCvr0XPODi7qSFGA6EufZCwzzJepVMvX5ZIiXxESncNbImAIpS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 3, NULL)
INSERT [dbo].[Pessoa] ([Id], [Nome], [DataNascimento], [Email], [Password], [Sexo], [NIF], [CC], [ContactoTelemovel], [ContactoTelefone], [Morada], [CP], [CodigoCNAEF], [HabilitacoesLiterarias], [Nacionalidade], [Foto], [PerfilId], [CV]) VALUES (153, N'Raquel Félix', CAST(N'1980-04-20' AS Date), N'secretariado_upskills@iscte-iul.pt', N'$2a$11$rBdV/uN/BBW6klfUCjk5y.4Jcab6DVoGMg/9iZ948zSok7Shtdzu6', N'Feminino', N'291252320', N'16753259 6 ZY7', N'912345678', N'213456789', N'Rua Retiro dos Pacatos, 50 - Edf. StartUp Sintra', N'2635-224', 851, N'10', N'PT', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Pessoa] OFF
GO
INSERT [dbo].[Pessoal] ([PessoaId], [Funcao]) VALUES (2, N'Coordenação')
INSERT [dbo].[Pessoal] ([PessoaId], [Funcao]) VALUES (183, N'Administrador')
INSERT [dbo].[Pessoal] ([PessoaId], [Funcao]) VALUES (182, N'Administrador')
GO
SET IDENTITY_INSERT [dbo].[Turma] ON 

INSERT [dbo].[Turma] ([Id], [Nome], [DataInicioCurso], [DataFimCurso], [CursoId], [HorarioSincronoInicio], [HorarioSincronoFim], [HorarioAssincronoInicio], [HorarioAssincronoFim], [TempoLectivo], [AnoLetivoId]) VALUES (890, N'T1', CAST(N'2020-11-04' AS Date), CAST(N'2021-04-30' AS Date), 59, CAST(N'2021-04-27T14:30:00.000' AS DateTime), CAST(N'2021-04-27T18:00:00.000' AS DateTime), CAST(N'2021-04-27T09:00:00.000' AS DateTime), CAST(N'2021-04-27T12:30:00.000' AS DateTime), 30, NULL)
INSERT [dbo].[Turma] ([Id], [Nome], [DataInicioCurso], [DataFimCurso], [CursoId], [HorarioSincronoInicio], [HorarioSincronoFim], [HorarioAssincronoInicio], [HorarioAssincronoFim], [TempoLectivo], [AnoLetivoId]) VALUES (892, N'T2', CAST(N'2021-05-03' AS Date), CAST(N'2021-11-30' AS Date), 59, CAST(N'2021-04-27T14:15:00.000' AS DateTime), CAST(N'2021-04-27T18:00:00.000' AS DateTime), CAST(N'2021-04-27T09:00:00.000' AS DateTime), CAST(N'2021-04-27T12:15:00.000' AS DateTime), 30, NULL)
INSERT [dbo].[Turma] ([Id], [Nome], [DataInicioCurso], [DataFimCurso], [CursoId], [HorarioSincronoInicio], [HorarioSincronoFim], [HorarioAssincronoInicio], [HorarioAssincronoFim], [TempoLectivo], [AnoLetivoId]) VALUES (894, N'T3', CAST(N'2021-05-03' AS Date), CAST(N'2021-11-30' AS Date), 59, CAST(N'2021-04-28T14:15:00.000' AS DateTime), CAST(N'2021-04-28T18:00:00.000' AS DateTime), CAST(N'2021-04-28T09:00:00.000' AS DateTime), CAST(N'2021-04-28T12:15:00.000' AS DateTime), 30, NULL)
SET IDENTITY_INSERT [dbo].[Turma] OFF
GO
INSERT [dbo].[TurmaFormando] ([FormandoId], [TurmaId]) VALUES (199, 890)
INSERT [dbo].[TurmaFormando] ([FormandoId], [TurmaId]) VALUES (196, 890)
INSERT [dbo].[TurmaFormando] ([FormandoId], [TurmaId]) VALUES (195, 890)
GO
/****** Object:  Index [UQ__Formador__2F5F55D35F1237D8]    Script Date: 20/05/2026 09:48:08 ******/
ALTER TABLE [dbo].[Formador] ADD UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Formando__2F5F55D31DD0E976]    Script Date: 20/05/2026 09:48:08 ******/
ALTER TABLE [dbo].[Formando] ADD UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Pessoal__2F5F55D3F2CD79A2]    Script Date: 20/05/2026 09:48:08 ******/
ALTER TABLE [dbo].[Pessoal] ADD UNIQUE NONCLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [Aula_fk0] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Sala] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [Aula_fk0]
GO
ALTER TABLE [dbo].[Aula]  WITH NOCHECK ADD  CONSTRAINT [Aula_fk1] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turma] ([Id])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Aula] NOCHECK CONSTRAINT [Aula_fk1]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [FK_Aula_Formador] FOREIGN KEY([FormadorId])
REFERENCES [dbo].[Formador] ([PessoaId])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [FK_Aula_Formador]
GO
ALTER TABLE [dbo].[Aula]  WITH NOCHECK ADD  CONSTRAINT [FK_Aula_Modulo] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[Aula] NOCHECK CONSTRAINT [FK_Aula_Modulo]
GO
ALTER TABLE [dbo].[AvaliacaoFinal]  WITH CHECK ADD  CONSTRAINT [AvaliacaoFinal_fk0] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoFinal] CHECK CONSTRAINT [AvaliacaoFinal_fk0]
GO
ALTER TABLE [dbo].[AvaliacaoFinal]  WITH NOCHECK ADD  CONSTRAINT [AvaliacaoFinal_fk1] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoFinal] NOCHECK CONSTRAINT [AvaliacaoFinal_fk1]
GO
ALTER TABLE [dbo].[AvaliacaoModular]  WITH CHECK ADD  CONSTRAINT [AvaliacaoModular_fk0] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoModular] CHECK CONSTRAINT [AvaliacaoModular_fk0]
GO
ALTER TABLE [dbo].[AvaliacaoModular]  WITH CHECK ADD  CONSTRAINT [AvaliacaoModular_fk1] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoModular] CHECK CONSTRAINT [AvaliacaoModular_fk1]
GO
ALTER TABLE [dbo].[AvaliacaoModular]  WITH NOCHECK ADD  CONSTRAINT [AvaliacaoModular_fk3] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AvaliacaoModular] NOCHECK CONSTRAINT [AvaliacaoModular_fk3]
GO
ALTER TABLE [dbo].[CursoCoordenador]  WITH CHECK ADD  CONSTRAINT [CursoCoordenador_fk0] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoCoordenador] CHECK CONSTRAINT [CursoCoordenador_fk0]
GO
ALTER TABLE [dbo].[CursoCoordenador]  WITH NOCHECK ADD  CONSTRAINT [CursoCoordenador_fk1] FOREIGN KEY([PessoalId])
REFERENCES [dbo].[Pessoal] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoCoordenador] CHECK CONSTRAINT [CursoCoordenador_fk1]
GO
ALTER TABLE [dbo].[CursoModulo]  WITH NOCHECK ADD  CONSTRAINT [CursoModulo_fk0] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoModulo] CHECK CONSTRAINT [CursoModulo_fk0]
GO
ALTER TABLE [dbo].[CursoModulo]  WITH NOCHECK ADD  CONSTRAINT [CursoModulo_fk1] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CursoModulo] NOCHECK CONSTRAINT [CursoModulo_fk1]
GO
ALTER TABLE [dbo].[EstadoFormador]  WITH CHECK ADD  CONSTRAINT [EstadoFormador_fk0] FOREIGN KEY([ListaEstadoId])
REFERENCES [dbo].[ListaEstadosFormador] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormador] CHECK CONSTRAINT [EstadoFormador_fk0]
GO
ALTER TABLE [dbo].[EstadoFormador]  WITH CHECK ADD  CONSTRAINT [FK_EstadoFormador_Formador] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Formador] ([PessoaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormador] CHECK CONSTRAINT [FK_EstadoFormador_Formador]
GO
ALTER TABLE [dbo].[EstadoFormando]  WITH CHECK ADD  CONSTRAINT [EstadoFormando_fk0] FOREIGN KEY([ListaEstadoId])
REFERENCES [dbo].[ListaEstadosFormando] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormando] CHECK CONSTRAINT [EstadoFormando_fk0]
GO
ALTER TABLE [dbo].[EstadoFormando]  WITH CHECK ADD  CONSTRAINT [FK_EstadoFormando_Formando] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstadoFormando] CHECK CONSTRAINT [FK_EstadoFormando_Formando]
GO
ALTER TABLE [dbo].[Falta]  WITH CHECK ADD  CONSTRAINT [Falta_fk0] FOREIGN KEY([AulaId])
REFERENCES [dbo].[Aula] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Falta] CHECK CONSTRAINT [Falta_fk0]
GO
ALTER TABLE [dbo].[Falta]  WITH CHECK ADD  CONSTRAINT [Falta_fk1] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Falta] CHECK CONSTRAINT [Falta_fk1]
GO
ALTER TABLE [dbo].[Formador]  WITH CHECK ADD  CONSTRAINT [Formador_fk0] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Formador] CHECK CONSTRAINT [Formador_fk0]
GO
ALTER TABLE [dbo].[FormadorModulo]  WITH CHECK ADD  CONSTRAINT [FK_FormadorModulo_Formador] FOREIGN KEY([FormadorId])
REFERENCES [dbo].[Formador] ([PessoaId])
GO
ALTER TABLE [dbo].[FormadorModulo] CHECK CONSTRAINT [FK_FormadorModulo_Formador]
GO
ALTER TABLE [dbo].[FormadorModulo]  WITH NOCHECK ADD  CONSTRAINT [FK_FormadorModulo_Modulo] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[FormadorModulo] NOCHECK CONSTRAINT [FK_FormadorModulo_Modulo]
GO
ALTER TABLE [dbo].[FormadorModuloTurma]  WITH NOCHECK ADD  CONSTRAINT [FK_FormadorModuloTurma_FormadorModulo] FOREIGN KEY([FormadorModuloId])
REFERENCES [dbo].[FormadorModulo] ([Id])
GO
ALTER TABLE [dbo].[FormadorModuloTurma] NOCHECK CONSTRAINT [FK_FormadorModuloTurma_FormadorModulo]
GO
ALTER TABLE [dbo].[FormadorModuloTurma]  WITH NOCHECK ADD  CONSTRAINT [FK_FormadorModuloTurma_Turma] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turma] ([Id])
GO
ALTER TABLE [dbo].[FormadorModuloTurma] NOCHECK CONSTRAINT [FK_FormadorModuloTurma_Turma]
GO
ALTER TABLE [dbo].[Formando]  WITH CHECK ADD  CONSTRAINT [Formando_fk0] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Formando] CHECK CONSTRAINT [Formando_fk0]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [Pessoa_fk0] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfil] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [Pessoa_fk0]
GO
ALTER TABLE [dbo].[Turma]  WITH CHECK ADD  CONSTRAINT [FK_Turma_AnoLetivo] FOREIGN KEY([AnoLetivoId])
REFERENCES [dbo].[AnoLetivo] ([Id])
GO
ALTER TABLE [dbo].[Turma] CHECK CONSTRAINT [FK_Turma_AnoLetivo]
GO
ALTER TABLE [dbo].[Turma]  WITH NOCHECK ADD  CONSTRAINT [FK_TurmaCurso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Turma] NOCHECK CONSTRAINT [FK_TurmaCurso]
GO
ALTER TABLE [dbo].[TurmaFormando]  WITH CHECK ADD  CONSTRAINT [TurmaFormando_fk0] FOREIGN KEY([FormandoId])
REFERENCES [dbo].[Formando] ([PessoaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TurmaFormando] CHECK CONSTRAINT [TurmaFormando_fk0]
GO
ALTER TABLE [dbo].[TurmaFormando]  WITH NOCHECK ADD  CONSTRAINT [TurmaFormando_fk1] FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turma] ([Id])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[TurmaFormando] NOCHECK CONSTRAINT [TurmaFormando_fk1]
GO
USE [master]
GO
