@page "/DetalhesFaqCoor"

<div class="cardstyle">
    <div style="text-align:center;margin-left:8%;margin-right:8%;">

        <h2>FAQ</h2>

        <RadzenButton Style="display: flex; align-items: center; justify-content: center; margin-bottom: 5px;" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#f1" Text="Onde estão as aulas?" />
        <div class="collapse" id="f1">
            <ul style="text-align: left;margin-left:30%">
                <li>Vá ao calendário e selecione uma turma.</li>
                <li>Navegue até à data da aula que pretende.</li>
                <li>Click na aula</li>
            </ul>
        </div>
    </div>
</div>
