@page "/DetalhesFaqAdmin"

<div class="cardstyle">
    <div style="text-align:center;margin-left:8%;margin-right:8%;">

        <h2>FAQ</h2>

        <RadzenButton Style="display: flex; align-items: center; justify-content: center; margin-bottom: 5px;" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#f1" Text="Qual é o email e password por default?" />
        <div class="collapse" id="f1">
            <ul style="text-align: left;margin-left:30%">
                <li style="list-style-type:none;">-- Administrador --</li>
                <li> email: admin</li>
                <li> password: #PessoalUpskill2021#</li>
            </ul>
        </div>

        <RadzenButton Style="display: flex; align-items: center; justify-content: center; margin-bottom: 5px;" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#f2" Text="O meu curso não aparece na lista de cursos na criação da turma?" />
        <div class="collapse" id="f2">
            <ul style="text-align: left;margin-left:30%">
                <li> Verifique se o curso tem módulos associados.</li>
            </ul>
        </div>

        <RadzenButton Style="display: flex; align-items: center; justify-content: center; margin-bottom: 5px;" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#f3" Text="Como inserir uma interrupção no calendário?" />
        <div class="collapse" id="f3">
            <ul style="text-align: left;margin-left:30%">
                <li>Clique em aula ou calendário e selecione uma turma.</li>
                <li>Navegue até à data  que pretende.</li>
                <li>Escolha o tipo de interrupção; o número de dias e algum texto, se achar necessário</li>
                <li>Confirme as suas ações clicando em "Adicionar"</li>
            </ul>
        </div>
    </div>
</div>