@page "/GerirListas"

<!-- INÍCIO #004 -->

<div class="cardstyle">
    <h2>Listas da Base de Dados</h2>
    <RadzenGrid Data="@listasFixas"
                TItem="ListaInfo"
                AllowPaging="false"
                ShowPagingSummary="false"
                AllowSorting="false"
                AllowFiltering="false">
        <Columns>

            <!-- Nome da lista -->
            <RadzenGridColumn TItem="ListaInfo" Property="Nome" Title="Lista" Width="auto" />

            <RadzenGridColumn TItem="ListaInfo" Title="Opções" Width="25%">
                <Template Context="item">
                
                        <RadzenButton Title="Editar" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Icon="mode_edit" Click="@(() => navManager.NavigateTo(item.Rota))" />
                
                </Template>
            </RadzenGridColumn>

        </Columns>
    </RadzenGrid>
</div>
<div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Voltar" Click="@(() => navManager.NavigateTo($"Index"))" />
    </div>
</div>


@code {
    class ListaInfo
    {
        public string Nome { get; set; }
        public string Rota { get; set; }
    }

    List<ListaInfo> listasFixas = new()
    {
        new ListaInfo { Nome = "Anos Letivos", Rota = "/ListasAnosLetivos" },
        new ListaInfo { Nome = "Estados de Formador", Rota = "/ListasEstadosFormador" },
        new ListaInfo { Nome = "Estados de Formando", Rota = "/ListasEstadosFormando" },
        new ListaInfo { Nome = "Funções", Rota = "/ListasFuncoes" },
        new ListaInfo { Nome = "Habilitações", Rota = "/ListasHabilitacoes" }
    };
}
<!-- FIM #004 -->