@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
<RadzenDialog />
<RadzenNotification />
<div class="page container">
   
    <div class="col-8 text-center m-auto" style="margin-top:15%">
        <img style="width:50%" src="/img/MetaDigital_sem_fundo.png" />
        @Body
    </div>

</div>
