

/*//hamburguer*/
@-webkit-keyframes hvr-back-pulse {
    50% {
        background-color: rgba(32, 152, 209, 0.75);
    }
}

@keyframes hvr-back-pulse {
    50% {
        background-color: rgba(32, 152, 209, 0.75);
    }
}

.hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    cursor: pointer;
}

    .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
        -webkit-animation-name: hvr-back-pulse;
        animation-name: hvr-back-pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-color: #2098D1;
        background-color: #2098d1;
        color: white;
    }


.cog {
    
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    
}

    .cog:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.dock {
    overflow: hidden;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}


.sidebar {
    background: #141E30;
    background: -webkit-linear-gradient(to left, #0D28C2, #050f3d);
    background: linear-gradient(to left, #0D28C2, #050f3d);
    font-size: 19px;
    color: #FFFFFF;
    font-weight: 500;
    overflow: hidden;
}

.left {
    margin-top: 20px;
    z-index: 1;
    width: 90%;
    margin-left: 2px;
    position: absolute;
    overflow: hidden;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.top-row img {
    height: 2rem;
}
