<a href="/Index" class="@LogoTransparency"><img style="width:75%" class="center" src="/img/MetaDigital_sem_fundo_negativo.png" /></a>

<RadzenPanelMenu Style="width:250px; background-color:transparent" Click="@(()=> Toggle.InvokeAsync(true))">
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Calendario" Path="/Sumarios" Image="img/dashboard/baseline_event_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Avaliações" Path="/Avaliacao" Image="img/dashboard/outline_inventory_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Turmas" Path="/TurmasPorFormador" Image="img/dashboard/baseline_groups_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Admin" Path="/Colaboradores" Image="img/dashboard/outline_engineering_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="FAQ" Path="/DetalhesFaqForm" Image="img/dashboard/outline_help_outline_white_48dp.png"> </RadzenPanelMenuItem>
</RadzenPanelMenu>

@code {

    [Parameter] public EventCallback<bool> Toggle { get; set; }
    [Parameter]
    public string LogoTransparency { get; set; }
}
