<div @onclick="@(() => Toggle.InvokeAsync(true))" style="cursor:pointer; padding: 1rem; display:flex; justify-content: flex-start;">
    <img src="img/dashboard/outline_menu_black_48dp.png" style="height: 2.5rem; filter: invert(1);" />
</div>

<RadzenPanelMenu Style="width:250px; background-color:transparent" Click="@(()=> Toggle.InvokeAsync(true))">
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Calendario" Path="/Sumarios" Image="img/dashboard/baseline_event_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Avaliações" Path="/Avaliacao" Image="img/dashboard/outline_inventory_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Turmas" Path="/TurmasPorFormador" Image="img/dashboard/baseline_groups_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Admins" Path="/Admin" Image="img/dashboard/outline_engineering_white_48dp.png"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="FAQ" Path="/DetalhesFaqForm" Image="img/dashboard/outline_help_outline_white_48dp.png"> </RadzenPanelMenuItem>
</RadzenPanelMenu>

@code {

    [Parameter] public EventCallback<bool> Toggle { get; set; }
    [Parameter]
    public string LogoTransparency { get; set; }
}
