
<a href="/Index" class="@LogoTransparency"><img style="width:75%" class="center" src="img/MetaDigital_sem_fundo_negativo.png" /></a>
<!-- INÍCIO #004 -->
<RadzenPanelMenu Style="width:250px; background-color:transparent" Click="@(()=> Toggle.InvokeAsync(true))">
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Path="/Calendar" Image="img/dashboard/baseline_event_white_48dp.png" Text="Calendário">
    </RadzenPanelMenuItem>
    
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/outline_inventory_white_48dp.png" Text="Avaliações">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Avaliações" Path="/Avaliacao" Icon="view_list"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/icons8-report-50.png" Text="Relatórios">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Relatórios" Path="/Relatorios" Icon="view_list"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/baseline_groups_white_48dp.png" Text="Turmas">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Turmas" Path="/Turmas" Icon="view_list"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Turma" Path="/Turma" Icon="add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/baseline_school_white_48dp.png" Text="Formandos">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Formandos" Path="/Formandos" Icon="view_list"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Formando" Path="/Formando" Icon="add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/baseline_assignment_ind_white_48dp.png" Text="Formadores">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Formadores" Path="/Formadores" Icon="view_list"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Formador" Path="/Formador" Icon="add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/baseline_manage_accounts_white_48dp.png" Text="Coordenadores">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Coordenadores" Path="/Coordenadores" Icon="view_list"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Coordenador" Path="/Coordenador" Icon="add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/outline_engineering_white_48dp.png" Text="Colaboradores">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Colaboradores" Path="/Colaboradores" Icon="view_list"></RadzenPanelMenuItem>
        @*INICIO #004*@
        @*Autorizacao para só o admin poder criar novos colaboradores*@
                <AuthorizeView Roles="Administrador">
            <Authorized>
         <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Colaborador" Path="/Colaborador" Icon="add"></RadzenPanelMenuItem>
            </Authorized>
        </AuthorizeView>
        @*FIM #004*@
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/baseline_class_white_48dp.png" Text="Cursos">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Cursos" Path="/Cursos" Icon="view_list"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Curso" Path="/Curso" Icon="add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" id="css" Image="img/dashboard/outline_grid_view_white_48dp.png" Text="Módulos">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Ver Módulos" Path="/Modulos" Icon="view_list"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Criar Módulo" Path="/Modulo" Icon="add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
    
    <RadzenPanelMenuItem class="rz-custom-panel-menu" Image="img/dashboard/icons8-database-48.png" Text="Listas">
        <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="Editar Listas" Path="/GerirListas" Icon="settings"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem class="rz-custom-panel-menu" Text="FAQ" Path="/DetalhesFaqAdmin" Image="img/dashboard/outline_help_outline_white_48dp.png">
    </RadzenPanelMenuItem>
</RadzenPanelMenu>
<!-- FIM #004 -->

@code {

    [Parameter] 
    public EventCallback<bool> Toggle { get; set; }

    [Parameter]
    public string LogoTransparency { get; set; }

} 